h1,h2,h3,h4,h5,h6 {
  color:#449e9d;
  text-align:Center;
}
p{
  color:hotpink;
  text-align: center;
  font-style: oblique;
  font-size: 30px;
}
p::selection{
  background-color: #91dba5;
  color: orange;
}
div {
  color: #91dba5;
  background-color: teal;
  width:50%;
  margin-left: 250px;
  padding: 50px;
  font-family: cursive;
  font-size: 28px;
  font-weight: bold;
  border:20px solid hotpink;
  text-align: center;
}
table{
  margin-left:530px;
  margin-bottom: 50px;
  border:5px solid teal;
  border-collapse:collapse;
  text-align:center;
}
th,td{
    border: 3px solid hotpink;
    padding: 10px;
}
th{
  background-color: #91dba5;
}
#top{
  color: #91dba5;
  background-color: hotpink;
  width: 50%;
  margin-left: :250px;
  padding: 50px;
  font-size: 28px;
  text-align: center;
  border:20px solid teal;
}
#bottom{
  color: #91dba5;
  background-color: teal;
  width:50%;
  margin-left: :250px;
  margin-top: 50px;
  padding: 50px;
  font-size: 28px;
  text-align: center;
  border:20px solid hotpink;
}
.name{
  font-weight: bolder;
  font-family: fantasy;
}
img{
  margin-left: 300px;
   }
ol>li{
  margin-left: 50px;
  color:#e3c08d;
  font-size: 20px;
}
ul{
  margin-left : 50px;
  color:hotpink;
  font-size: 20px;
}
input{
  background-color:orange;
}
button{
  width: 70px;
  height: 30px;
  background-color: #e3c08d;
}
button:hover{
  background-color: orange;
}
h1::before {
  content:"\1F338 ";
}
h2::after {
  content: "\1F338";
}
a:hover{
color:#e3c08d;
}
body{
  background-color:#c4f5d8;
}
@media print {
  .screen-only{
    display:none;

  }
}
.container{
  display: flex;
  flex-wrap: wrap;
}
.container > div
{
  background-color: #d1739a;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  width: 200px;
  text-align: center;
  border: 15px solid #62bfbe;
}
form{
  align-items: center;
}
ul>li::before{
  content: "\1F607";
}
